# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/
.editorconfig

# dependencies
/node_modules

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pods
ios/Pods
Podfile.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
package-lock.json
yarn.lock
npm.lock

# Xcode
.vscode/

#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/BoostPlay.xcodeproj/project.pbxproj
android/app/src/main/java/com/boost/dialog/boost/client/android/MainApplication.java

# Android/IntelliJ
#
android/gradle.properties
MyApplication/
build/
.idea
.gradle
local.properties
MyApplication
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

.editorconfig